source https://nuget.org/api/v2

nuget Albedo 1.0.2 framework: >= net45
nuget Autofac 3.5.2
nuget AutoFixture 3.31.3 framework: >= net45
nuget AutoFixture.AutoFakeItEasy 3.31.2 framework: >= net45
nuget AutoFixture.Idioms 3.31.0 framework: >= net45
nuget AutoFixture.Xunit 3.31.0 framework: >= net45
nuget F2F.Testing.Xunit 1.2.1.0 framework: >= net45
nuget F2F.Testing.Xunit.FakeItEasy 1.2.1.0 framework: >= net45
nuget FakeItEasy 1.25.3 framework: >= net45
nuget FluentAssertions 3.5.0 framework: >= net45
nuget FSharp.Formatting
nuget Nuget.CommandLine
nuget NUnit
nuget NUnit.Runners
nuget FAKE
nuget reactiveui 6.5.0
nuget reactiveui-core 6.5.0 framework: Portable-Net45+Win8+WP8+WPA81
nuget reactiveui-testing 6.5.0 framework: >= net45
nuget Rx-Core 2.2.5
nuget Rx-Interfaces 2.2.5
nuget Rx-Linq 2.2.5
nuget Rx-Main 2.2.5
nuget Rx-PlatformServices 2.2.5
nuget Rx-Testing 2.2.5 framework: >= net451
nuget Rx-XAML 2.2.5
nuget SourceLink.Fake
nuget Splat 1.6.2 framework: Portable-Net45+Win8+WP8+WPA81
nuget xunit 1.9.2 framework: >= net451
nuget xunit.extensions 1.9.2 framework: >= net451
nuget xunit.runner.console

github fsharp/FAKE modules/Octokit/Octokit.fsx