source https://nuget.org/api/v2

nuget Autofac 4.6.2
nuget AutoFixture.Idioms 3.50.2 framework: >= net45
nuget F2F.Testing.Xunit2.FakeItEasy ~> 2.0 framework: >= net45
nuget FluentAssertions ~> 4.0 framework: >= net45
nuget FSharp.Formatting
nuget Nuget.CommandLine
nuget NUnit
nuget NUnit.Runners
nuget FAKE
nuget ReactiveUI.Testing >= 7 prerelease
nuget SourceLink.Fake
nuget xunit.runner.console


github fsharp/FAKE modules/Octokit/Octokit.fsx